@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Footlight MT Light';
  src: url('/fonts/FootlightMTLight.ttf') format('truetype'),
       url('./assets/fonts/FootlightMTLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  *, ::before, ::after {
    font-family: 'Footlight MT Light', serif !important;
    text-transform: none !important;
  }
  
  html, body {
    @apply text-zinc-100 bg-[#09090b] antialiased selection:bg-emerald-500/20 selection:text-emerald-300;
    font-family: 'Footlight MT Light', serif !important;
    font-size: 17px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full hover:bg-zinc-700 transition-colors;
  }
}

::selection {
  @apply bg-emerald-500/20 text-emerald-300;
}